# pip
imageio
torch
torchvision
matplotlib
opencv-python
vidgear[core]

# https://abhitronix.github.io/vidgear/latest/gears/writegear/compression/advanced/ffmpeg_install/

# conda
tensorflow
tensorflow-hub


# others
black
tqdm